# Core scientific stack
numpy==1.23.5
scipy==1.10.1
pandas==1.5.3
scikit-learn==1.2.2
joblib==1.3.2

# Deep learning
tensorflow==2.12.0

# Web & automation
selenium==4.21.0
beautifulsoup4==4.12.3
requests==2.31.0

# Streamlit app
streamlit==1.29.0

# LangChain stack
langchain==0.1.12
langchain-core==0.1.52
langgraph==0.0.46
langchain-text-splitters==0.0.2
langchain-openai==0.1.7

# Other utilities
python-dotenv==1.0.1
deep-translator==1.11.4

# Lottie animations
streamlit-lottie==0.0.5

